@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, * {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.main__bg {
  background-image: linear-gradient(-60deg, #646FD4 50%, #E8A0BF 50%);
  animation: slide 3s ease-in-out infinite alternate;
  position: fixed;
  top:0;
  bottom: 0;
  left: -50%;
  right: -50%;
  opacity: 0.5;
  z-index: -1;
}
.layer1 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}
.layer2 {
  animation-duration: 5s;
}
@keyframes slide {
  0% {
      transform: translateX(-25%);
  }
  100% {
      transform: translateX(25%);
  }
}
html, body {
  height: 100%;
  text-align: center;
  
}
  
  html, body {
    height: 100%;
    text-align: center;
    
  }
  .title{
    margin-top: 10px;
    color: #FAFAFC;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
  }
  .main-section{
    width: 70%;
  
    background-color: #FAFAFC;
    padding: 25px;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
      display: flex;
      flex-direction: row;
  }
  .left{
      flex: 1;
  }
  .left h2{
    font-family: 'Montserrat', sans-serif;
  }
  #right{
      flex: 1;
      display: none;
      flex-direction:  column;
      justify-content: center;
  }
  #right img{
      margin: 10px;
      height: 200px;
      width: 200px;
  }
  .main-section h2 {
    font-size: 26px;
    line-height: 1;
    color: #454CAD;
    margin-bottom: 0;
  }
  
  .main-section p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #5f6982;
  }
  
  .uploader {
    display: block;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
  }
  .uploader label {
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    border: 3px solid #eee;
    transition: all 0.2s ease;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .uploader label:hover {
    border-color: #454cad;
  }
  .uploader label.hover {
    border: 3px solid #454cad;
    box-shadow: inset 0 0 0 6px #eee;
  }
  .uploader label.hover #start i.fa {
    transform: scale(0.8);
    opacity: 0.3;
  }
  .uploader #start {
    float: left;
    clear: both;
    width: 100%;
  }
   .submit-btn {
      display: none;
  }
  .uploader #start.hidden {
    display: none;
  }
  .uploader #start i.fa {
    font-size: 50px;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
  }
  .uploader #response {
    float: left;
    clear: both;
    width: 100%;
  }
  .uploader #response.hidden {
    display: none;
  }
  .uploader #response #messages {
    margin-bottom: 0.5rem;
  }
  .uploader #file-image {
    display: inline;
    margin: 0 auto 0.5rem auto;
    width: auto;
    height: auto;
    max-width: 180px;
  }
  .uploader #file-image.hidden {
    display: none;
  }
  .uploader #notimage {
    display: block;
    float: left;
    clear: both;
    width: 100%;
  }
  .uploader #notimage.hidden {
    display: none;
  }
  .uploader progress,
  .uploader .progress {
    display: inline;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    height: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #eee;
    overflow: hidden;
  }
  .uploader .progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #eee;
  }
  .uploader .progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, #393f90 0%, #454cad 50%);
    border-radius: 4px;
  }
  .uploader .progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, #393f90 0%, #454cad 50%);
    border-radius: 4px;
  }
  .uploader input[type=file] {
    display: none;
  }
  .uploader div {
    margin: 0 0 0.5rem 0;
    color: #5f6982;
  }
  .uploader .btn {
    display: inline-block;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: #454cad;
    border-color: #454cad;
    cursor: pointer;
  };

.title{
  margin-top: 10px;
  color: #006B6C;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 500;
}
.main-section{
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.left{
    flex: 1;
}
.left h2{
  font-family: 'Montserrat', sans-serif;
}
#right{
    flex: 1;
    display: none;
    flex-direction:  column;
    justify-content: center;
}
#right img{
    margin: 10px;
    height: 200px;
    width: 200px;
}
.main-section h2 {
  font-size: 26px;
  line-height: 1;
  color: #454CAD;
  margin-bottom: 0;
}

.main-section p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #5f6982;
}

.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}
.uploader label {
  float: left;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
  transition: all 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.uploader label:hover {
  border-color: #454cad;
}
.uploader label.hover {
  border: 3px solid #454cad;
  box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
  transform: scale(0.8);
  opacity: 0.3;
}
.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}
 .submit-btn {
    display: none;
}
.uploader #start.hidden {
  display: none;
}
.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}
.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #response.hidden {
  display: none;
}
.uploader #response #messages {
  margin-bottom: 0.5rem;
}
.uploader #file-image {
  display: inline;
  margin: 0 auto 0.5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
}
.uploader #file-image.hidden {
  display: none;
}
.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.uploader #notimage.hidden {
  display: none;
}
.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader input[type=file] {
  display: none;
}
.uploader div {
  margin: 0 0 0.5rem 0;
  color: #5f6982;
}
.uploader .btn {
  display: inline-block;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background: #454cad;
  border-color: #454cad;
  cursor: pointer;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.box{
  width: inline-block;
}
.loading-dock {
  background-color: white;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.submit {
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  clear: both;
  cursor: pointer;
  width: 160px;
  height: 50px;
  font-size: 17px;
  font-weight: 600;
  color: #454cad;
  background-color: white;
  border-radius: 40px;
  border: 2px solid #454cad;
  transition: all 0.2s;
  letter-spacing: 1px;
  font-family: "Helvetica Neue", sans-serif;
  cursor: pointer;
}
button.submit:hover {
  background: #454cad;
  color: white;
}
button.submit:active {
  transform: scale(0.95);
}
button.submit:focus {
  outline: none;
  background: #454cad;
  color: white;
}
button.submit.popout {
  animation: circle-to-button 0.5s linear forwards;
}
button.submit.return {
  animation: fade-to-original 0.3s linear;
}
button.submit.return:hover {
  background: #454cad;
  color: white;
}

.loaded button.submit {
  background-color: #454cad;
  animation: button-to-circle 0.5s linear forwards;
  animation-delay: 0.3s;
}
.loaded #load {
  animation: loading-circle 2s linear forwards;
  animation-delay: 1s;
}

#load, #load-b {
  display: none;
  position: absolute;
  width: 58px;
  height: 58px;
  opacity: 0;
}
#load .loading-inner, #load-b .loading-inner {
  stroke-dasharray: 900;
  stroke-width: 8;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke: #c3c3c3;
  fill: transparent;
}

#load-b {
  opacity: 0;
}
#load-b .loading-inner {
  stroke: #454cad;
}

svg {
  position: absolute;
  display: none;
}

@keyframes loading-circle {
  0% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
  50% {
    opacity: 1;
    stroke-dashoffset: -100;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: -600;
  }
}
@keyframes button-to-circle {
  0% {
    width: 160px;
    color: #454cad;
    border-color: #454cad;
    background-color: #454cad;
  }
  50% {
    color: rgba(255, 255, 255, 0);
  }
  90% {
    width: 50px;
    color: rgba(255, 255, 255, 0);
    border-color: #c3c3c3;
  }
  100% {
    width: 50px;
    border-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes circle-to-button {
  0% {
    border-color: #454cad;
    background-color: #454cad;
    height: 50px;
    width: 50px;
  }
  50% {
    height: 50px;
    width: 50px;
  }
  100% {
    height: 50px;
    width: 160px;
    border-color: #454cad;
    background-color: #454cad;
  }
}
@keyframes fade-to-original {
  0% {
    background-color: #454cad;
  }
  100% {
    background-color: white;
  }
}